In [88]:
#import csv file
import pandas as pd
df = pd.read_csv ('/home/fleming/Desktop/blossom/env/Assignments/project 1/pew.csv')
df

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k
0,Agnostic,27,34,60,81,76,137
1,Atheist,12,27,37,52,35,70
2,Buddhist,27,21,30,34,33,58
3,Catholic,418,617,732,670,638,1116
4,Dont know/refused,15,14,15,11,10,35
5,Evangelical Prot,575,869,1064,982,881,1486
6,Hindu,1,9,7,9,11,34
7,Historically Black Prot,228,244,236,238,197,223
8,Jehovahs Witness,20,27,24,24,21,30
9,Jewish,19,19,25,25,30,95

In [90]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9
religion,Agnostic,Atheist,Buddhist,Catholic,Dont know/refused,Evangelical Prot,Hindu,Historically Black Prot,Jehovahs Witness,Jewish
<$10k,27,12,27,418,15,575,1,228,20,19
$10-20k,34,27,21,617,14,869,9,244,27,19
$20-30k,60,37,30,732,15,1064,7,236,24,25
$30-40k,81,52,34,670,11,982,9,238,24,25
$40-50k,76,35,33,638,10,881,11,197,21,30
$50-75k,137,70,58,1116,35,1486,34,223,30,95

In [86]:
df ["Frequncy"] = df["<$10k"] + df["$10-20k"]+ df["$20-30k"]+ df["$30-40k"]+ df["$40-50k"]+ df["$50-75k"]
df

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,Frequncy
0,Agnostic,27,34,60,81,76,137,415
1,Atheist,12,27,37,52,35,70,233
2,Buddhist,27,21,30,34,33,58,203
3,Catholic,418,617,732,670,638,1116,4191
4,Dont know/refused,15,14,15,11,10,35,100
5,Evangelical Prot,575,869,1064,982,881,1486,5857
6,Hindu,1,9,7,9,11,34,71
7,Historically Black Prot,228,244,236,238,197,223,1366
8,Jehovahs Witness,20,27,24,24,21,30,146
9,Jewish,19,19,25,25,30,95,213

In [81]:
df.drop(['<$10k', '$10-20k','$20-30k','$30-40k','$40-50k','$50-75k'], axis = 1)

                   religion  Frequncy
0                  Agnostic       415
1                   Atheist       233
2                  Buddhist       203
3                  Catholic      4191
4         Dont know/refused       100
5         Evangelical Prot       5857
6                    Hindu         71
7  Historically Black Prot       1366
8         Jehovahs Witness        146
9                   Jewish        213

In [83]:
df2 =df.assign(Income_Range= ['<$10k', '$10-20k','$20-30k','$30-40k','$40-50k','$50-75k'])
df2

ValueError: Length of values does not match length of index